<div class="hero-unit">
<h1>This is a Hate</h1>
    <ul>
      <%= hate(user.username %>
      <%= image_tag(hate.user.image) %>
      <%= @hate.category %>
      <%= @hate.post %>
       <%= @hate.hate_rate %>
    </ul>
    </div>